* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.body {
    background-color: rgb(4, 6, 31);
    padding: 40px;
}

.grid-contenedor {
    display: grid;
    grid-template-rows: 264px 1fr 84px;
    grid-template-rows: auto 100% auto;
    height: 100vh;
}

header {
    width: 100%;
    padding: 40px;
}

.logo {
    max-width: 25vw;
    padding: 40 px;

}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(214, 172, 109);
    /* padding: 1rem; */
    padding: 3vh 4vw;
}

.ul {
    display: flex;
    justify-content: space-evenly;
}

.nav ul li {
    list-style-type: none;
}

.nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 1vw;
    padding: 2vh 2vw;

}

.nav ul li a:hover {
    background-color: rgb(0, 0, 0);
    transition: background-color .2s ease-in-out;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.main {
    min-height: 800px;
}

iframe {
    width: 80vw;
    height: 80vh;

}

.contenedor-zapatillas {
    display: flex;
    justify-content: center;

}

.contenedor-paletas {
    display: flex;
    justify-content: center;
}

.contenedor-bolsos {
    display: flex;
    justify-content: center;
}


.zapatillas {
    margin: 0 auto;

}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 40px;
}

.h1 {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    padding: 40px;
}


@media screen and (max-width:1080px) {
    .h1 {
        margin: 40px 10px;
    }

    .nav {
        flex-direction: column;
        padding: 0;
    }

    .ul {
        margin-bottom: 4vh;
    }

    footer a img {
        height: 50px;
        width: auto;
    }

}

@media screen and (max-width:600px) {
    .logo img {
        width: 7vw;
    }

    footer a img {
        height: 40px;
        width: auto;
    }

    .twitter>img {
        height: 33px;
        width: auto;
    }

    footer {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    }

    .contenedor-zapatillas>img {
        height: 30vh;
        width: 90%;
    }

    .ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .imagen-incio {
        height: auto;
        width: 120%;
        margin-top: 2rem;
    }

    .grid-contenedor {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .contenedor-bolsos>img {
        height: auto;
        width: 90%;
    }

    .contenedor-paletas>img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 575px) {

    .sub-menu ul {
        display: flex;
        flex-direction: column;
    }
}